table {
  border: 2px solid black;
  border-style: dotted;
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  padding: 5px;
  font-family: futura;
  color: rgb(3, 0, 181);
}

.firstrow {
  background-color: rgb(215, 215, 255);
}

.thirdrow {
  background-color: rgb(235, 213, 255);
}
