.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  border: 2px solid rgb(173, 125, 255);
}

.content {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px solid pink;
}
