div .container {
  width: 400px;
  height: 200px;
  border: 2px solid blue;
}

.blabla {
  background-color: pink;
}

.container,
.containerbig,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerbig {
  width: 100%;
}

main {
  width: 100%;
}
