div .container {
  width: 400px;
  height: 200px;
  border: 2px solid rgb(75, 238, 189);
}

.blabla {
  background-color: rgb(177, 99, 251);
  color: rgb(222, 253, 152);
}

.container,
.containerbig,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerbig {
  width: 100%;
}

main {
  width: 100%;
}
