body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  border: 5px double rgb(131, 48, 255);
  background-color: rgb(253, 213, 229);
}

img {
  border: 4px solid rgb(254, 22, 146);
}

/* När jag enbart satte display: flex på .sailor stretchade bilden ut sig 
och fyllde .sailor på höjden. För att undvika detta satte jag align-self: center. 

Alternativt justify-content: center OCH align-items: center. */
.sailor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 50px;
  background-color: rgb(161, 190, 253);
  border: 3px dotted blue;
}
